* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'open sans', Arial, Helvetica, sans-serif;
}

.containerBox {
  display: grid;
  grid-template-columns: 1fr repeat(8, 2fr) 1fr;
  grid-template-rows: 9vh 79vh 9vh;
}

header {
  display: grid;
  grid-template-columns: 1fr repeat(8, 2fr) 1fr;
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  align-content: center;
  background: #227c9d;
}

.logo {
  grid-column: 2 / 5;
  display: flex;
  justify-content: space-around;
  color: white;
  text-transform: capitalize;
}

.navigation {
  grid-column: 7 / 10;
}
.navigation__unlisted {
  display: flex;
  justify-content: space-around;
  list-style: none;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}

main {
  display: grid;
  grid-template-columns: repeat(8, 2fr);
  grid-template-rows: repeat(6, min-content);
  grid-column: 2 / 10;
  grid-row: 2 / span 1;
}

.translation {
  display: flex;
  justify-content: space-around;
  grid-column: 3 / 7;
  grid-row: 1 / span 1;
  margin-top: 43px;
  margin-bottom: 20px;
}

.translation__box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.translation__box--header {
  text-transform: capitalize;
  font-size: 2rem;
  color: #17c3b2;
  margin-bottom: 30px;
}

.translation__box--span {
  display: flex;
  justify-content: center;
}
.translation__word--foreign {
  font-size: 3rem;
  color: black;
}

.translation__word--english {
  text-transform: capitalize;
  font-size: 3rem;
  color: black;
  display: flex;
  justify-content: space-around;
}

.input {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: 3 / 7;
  grid-row: 2 / span 1;
}

.input__box {
  grid-column: 1 / -1;
  height: 33px;
  text-align: center;
  font-size: 2rem;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.input__box--start {
  text-transform: capitalize;
  opacity: 0.7;
  font-size: 1rem;
}

.filter {
  display: flex;
  justify-content: space-between;
  grid-column: 3 / 7;
  grid-row: 3 / span 1;
  margin-bottom: 30px;
}

.filter__btns {
  border-radius: 10px;
  padding: 5px 15px;
  background: none;
  border: solid 1px #e5e5e5;
  color: #31c8b9;
  text-transform: capitalize;
}

.filter__btns:hover {
  background: #31c8b9;
  color: white;
}

.input__btn {
  grid-column: 4 / 6;
  grid-row: 4 / span 1;
  margin: 0 auto;
  border-radius: 10px;
  padding: 5px 15px;
  background: #ffcb77;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.speed {
  grid-column: 7 / span 1;
  grid-row: 2 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  text-transform: capitalize;
  color: grey;
}

.keyboard {
  display: flex;
  grid-column: 1 / -1;
  grid-row: 5 / span 1;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.keyboard__top,
.keyboard__middle,
.keyboard__bottom {
  display: flex;
  justify-content: center;
}

.keyboard__middle {
  transform: translate(20px);
}
.keyboard--btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 45px;
  width: 45px;
  border-radius: 5px;
  margin: 3px;
  padding: 5px;
  background: #227c9d;
}

.keyboard--english {
  text-transform: uppercase;
  color: white;
}

.keyboard--korean {
  display: flex;
  justify-content: flex-end;
  color: #ffca00;
  padding: 5px;
}

.keyboard--alt {
  color: white;
}

.help {
  display: flex;
  grid-column: 3 / 7;
  grid-row: 6 / span 1;
  justify-content: center;
  font-size: 0.9rem;
  text-transform: capitalize;
  text-decoration: underline;
  opacity: 70%;
  margin-bottom: 70px;
}

footer {
  display: grid;
  grid-template-columns: repeat(8, 2fr);
  grid-column: 2 / 10;
  grid-row: 3 / span 1;
  align-items: flex-end;
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 3 / 7;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: #fe6d73;
  padding-top: 10px;
  padding-bottom: 40px;
}

.newsletter__box {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.newsletter__header {
  padding: 10px;
  margin: 0 auto;
  color: white;
  text-transform: capitalize;
}

.newsletter__input {
  padding: 5px;
  width: 270px;
  background: none;
  text-align: center;
  color: white;
  border: none;
  border-bottom: white solid 1.5px;
}

.newsletter__btn {
  border-radius: 10px;
  padding: 5px 15px;
  background: #ffcb77;
  margin-left: 30px;
  text-transform: capitalize;
  font-size: 0.7rem;
}

.navFooter {
  grid-column: 7 / span 2;
}

.navFooter__unlisted {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  text-decoration: none;
  list-style: none;
  text-transform: capitalize;
  margin-bottom: 40px;
}

/* LEAVE NEAR THE BOTTOM OF THE PAGE */

.correct {
  color: green;
}

.incorrect {
  color: red;
  text-decoration: underline;
}

.hidden {
  display: none;
}

.activeFilter {
  background: #31c8b9;
  color: white;
}

.activeBtn {
  background: #ffcb77;
}
